@font-face {
  font-family: "NotoSansKr";
  src: url("../fonts/NotoSansKR-Bold-Alphabetic.woff2") format("woff2"),
    url("../fonts/NotoSansKR-Bold-Alphabetic.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKr";
  src: url("../fonts/NotoSansKR-Medium-Alphabetic.woff2") format("woff2"),
    url("../fonts/NotoSansKR-Medium-Alphabetic.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKr";
  src: url("../fonts/NotoSansKR-Black-Alphabetic.woff2") format("woff2"),
    url("../fonts/NotoSansKR-Black-Alphabetic.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKr";
  src: url("../fonts/NotoSansKR-Light-Alphabetic.woff2") format("woff2"),
    url("../fonts/NotoSansKR-Light-Alphabetic.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKr";
  src: url("../fonts/NotoSansKR-Thin-Alphabetic.woff2") format("woff2"),
    url("../fonts/NotoSansKR-Thin-Alphabetic.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKr";
  src: url("../fonts/NotoSansKR-Regular-Alphabetic.woff2") format("woff2"),
    url("../fonts/NotoSansKR-Regular-Alphabetic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
